<div class="fact">
  <h2>
    Fact
    <a href="{% url "webchao.fact.views.byId" fact_id=fact.id %}">
      #{{ fact.id }}
    </a>
    von
    <a href="{% url "webchao.fact.views.byNickname" fact_nickname=fact.nickname %}">
      {{ fact.nickname }}
    </a>
  </h2>
  <p class="infos">
    Geschrieben: {{ fact.date|date:"d.M.Y h:m" }}
    {% if fact.channel %}
      in {{ fact.channel }}
    {% endif %}
  </p>
  <p class="text">
    {% autoescape off %}
      {{ fact.fact|force_escape|urlizetrunc:25 }}
    {% endautoescape %}
  </p>
  {% if referenced %}
    <h3>Antwortet auf</h3>
    <ul class="referenced">
      {% for ref_fact in referenced %}
        <li>
          <a href="{% url "webchao.fact.views.byId" fact_id=ref_fact.id %}">
            #{{ ref_fact.id }}
          </a>
          von
          <a href="{% url "webchao.fact.views.byNickname" fact_nickname=ref_fact.nickname %}">
            {{ ref_fact.nickname}}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
  {% if referencing %}
    <h3>Antworten darauf</h3>
    <ul class="referencing">
      {% for ref_fact in referencing %}
        <li>
          <a href="{% url "webchao.fact.views.byId" fact_id=ref_fact.id %}">
            #{{ ref_fact.id }}
          </a>
          von
          <a href="{% url "webchao.fact.views.byNickname" fact_nickname=ref_fact.nickname %}">
            {{ ref_fact.nickname}}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>

