* {
  color: #FFFFFF;
  background-color: #000000;
  font-size: 16px;
  line-height: 1.2em;
}

html {
  background-color: #234;
}

body {
  display: block;
  width: 960px;
  margin: auto;
}

h1, h2 {
  font-size: 18px;
  /*text-decoration: underline;*/
  text-shadow: 2px 2px 3px #0000A0;
  filter:dropshadow(color=#000080,offx2, offy=2)
}

h1 {
  /* Rotation */
  -o-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -webkit-transform: rotate(3deg);
  filter:progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.9986295347545738, M12=-0.05233595624294383, M21=0.05233595624294383, M22=0.9986295347545738); /* IE6-7*/
  -ms-filter: "  filter:progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.9986295347545738, M12=-0.05233595624294383, M21=0.05233595624294383, M22=0.9986295347545738);" /* IE8 */
  zoom: 1;
}

h3 {
  display: block;
  width: 100%;
  border-bottom: 1px solid #0000A0;
}

a {
  text-decoration: none;
}

  a:hover{
    text-decoration: underline;
  }

.clickable {
  cursor: pointer;
}

div.sidebar {
  display: block;
  float: left;
  min-width: 100px;
  width: 20%;
}

  div.sidebar ul.sidebar_elements{
    list-style-type: none;
    padding: 3px;
  }
  
    div.sidebar ul.sidebar_elements li{
      text-align: center;
      margin: 10px 5px;
      padding: 10px;
      display: block;
      width: 80%;
      min-height: 24px;
      background-color: #101010;

      /* Schatten */
      -webkit-box-shadow: 2px 2px 4px #303030;
      -moz-box-shadow: 2px 2px 4px #303030;
      box-shadow: 2px 2px 4px #303030;
      
    /* runde Ecken */
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    }
    
      div.sidebar ul.sidebar_elements li * {
        line-height: 24px;
        font-size: 16px;
        background-color: #101010
      }
      
      div.sidebar ul.sidebar_elements li h4 {
        margin: 0px;
      }
    
      div.sidebar ul.sidebar_elements li input {
        font-size: 12px;
      }
      
        div.sidebar ul.sidebar_elements li ul.sublist, div.sidebar ul.sidebar_elements li ul.sublist li {
          min-height: auto;
          line-height: 1.2em;
          font-size: 12px;
          margin: 0;
          padding: 0;
          width: 100%;
          clear: both;
          
          /* Schatten */
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
           box-shadow: none;
        }
        div.sidebar ul.sidebar_elements li ul.sublist li {
          display: list-item;
          list-style-type: none;
          text-align: right;
          width: 95%;
          font-size: 12px;
          border-radius: 0;
        }
        
        div.sidebar ul.sidebar_elements li ul.sublist li:last-of-type {
          overflow-y: hidden;
        }
        
          div.sidebar ul.sidebar_elements li ul.sublist li a{
            width: 90%;
            display: block;
            float: right;
            line-height: 1.2em;
          }
          
          div.sidebar ul.sidebar_elements li ul.sublist li img.im_status_img {
            width: 12px;
            height: 12px;
            float: left;
            border: none;
            line-height: 1.2em
          }
          
          div.sidebar ul.sidebar_elements li ul.sublist li:before {
            content: '►';
          }
          div.sidebar ul.sidebar_elements li ul.sublist li:hover:before {
            content: '▻';
          }

div.content {
  display: block;
  min-width: 500px;
  width: 75%;
  float: right;

  /* Schatten */
  -webkit-box-shadow: 2px 2px 4px #000030;
  -moz-box-shadow: 2px 2px 4px #000030;
  box-shadow: 2px 2px 4px #000030;
  
  /* runde Ecken */
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  border-radius: 22px;
  
  /* Standard-Zeugs */
  background-color: #0A0A0A;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

  div.content div.facts {
    background-color: #0A0A0A;
  }
  
  div.content div.multiple_facts {
     /* 2 Spalten */
    -moz-column-count: 2;
    -moz-column-gap: 10px;
    -webkit-column-count: 2;
    -webkit-column-gap: 10px;
    column-count: 2;
    column-gap: 10px;
  }

    div.content div.facts div.fact,
    div.content div.post,
    div.content div.comments,
    div.content form.comment
    {
      /* runde Ecken */
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      border-radius: 15px;
    
      /* Standard-zeugs */
      display: block;
      overflow: hidden;
      padding: 10px;
      margin-bottom: 15px;
      margin-top: 15px;
      background-color: #000000;
      
    /* Schatten */
    -webkit-box-shadow: 2px 2px 4px #000030;
    -moz-box-shadow: 2px 2px 4px #000030;
    box-shadow: 2px 2px 4px #000030;
    }
    
      div.content img {
        display: block;
        margin: auto;
      }
      
      div.content form.comment p {
        display: inline-block;
        width: 100%;
        margin: 0px 0px 12px 0px;
      }
      
        div.content form.comment p label {
          width: 15%;
          display: inline-block;
        }
        div.content form.comment ul {
          margin-left: 15% !important;
        }
        
        div.content form.comment p input[type="submit"] {
          width: auto;
          margin: auto;
          display: block;
        }
        
        div.content form.comment p input,
        div.content form.comment p textarea,
        div.content form.comment p select
        {
          width: 83%;
          border: 2px solid #ffffff;
        }
        
        div.content form.comment ul,
        div.content form.comment ul li
        {
          display: block;
          padding: 0px;
          list-style-type: none;
          text-align: center;
          color: #FF0000;
          margin: 0px;
        }
        
          div.content form.comment ul li:before,
          div.content form.comment ul li:after
          {
            font-size: 22px;
            color: #00FF00;
            margin: 10px 10px 8px 10px;
            display: inline-block;
          }
          
            div.content form.comment ul li:before {
              content: '⬐';
            }
            div.content form.comment ul li:after {
              content: '⬎';
            }

      
      div.content div.facts div.fact *,
      div.content div.post  *
        {
        background-color: #000000;
      }
      
          div.content div.facts div.fact p.text a,
          div.content div.post  div.text a
          {
            text-decoration: underline;
            text-shadow: 2px 2px 3px #0000A0;
          }
      
      div.content div.facts div.fact ul {
        padding-left: 0px;
        list-style: none;
      }
      div.content div.facts div.fact ul.referencing li:before {
        content: '↶';
        font-size: 22px;
      }
      div.content div.facts div.fact ul.referenced li:before {
        content: '↷';
        font-size: 22px;
      }

    div.content div.comments p.infos {
      margin-top: 20px;
      border-bottom: 1px dotted #0000A0;
    }
    
    div.content div.comments div.comment ul.referencing_comments {
      list-style-type: none;
      padding-left: 0px;
      border-left: 1px dotted #0000A0;
    }
    
      div.content div.comments div.comment ul.referencing_comments li {
        display: block;
        margin-left: 15px;
      }
    
        div.content div.comments div.comment ul.referencing_comments li:before {
          content: '►';
          margin-left: -15px;
          float: left;
          line-height: 1em;
        }
        div.content div.comments div.comment ul.referencing_comments li:hover:before {
          content: '▻';
        }

div.footer, div.header{
  display: block;
  width: 100%;
  float: left;
  text-align: center;
  clear: both;
  overflow: hidden;
}


